<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Echo demo server.">
    <meta name="author" content="Chris Birmingham">

    <title>TTS engine</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>ECHO... <em>echo</em></h1> <h4>(But with an accent!)</h4>

                <img src = "{{ url_for('static', path='/echobot_art.png') }}" alt="echobot_art!">

                {%if use_gst%}
                <input value='{"0": 0.1}' id="style_wav" placeholder="style wav (dict or path ot wav).." size=45
                    type="text" name="style_wav">
                {%endif%}

                <input id="text" placeholder="Type the text you want spoken here..." size=45 type="text" name="text">
                <button id="speak-button" name="speak">Speak</button><br /><br />
                <input type="button" value="Listening" id="onoff" onclick="onoff();"><br /><br />

                {%if use_multi_speaker%}
                Choose an accent for your echo:
                <select id="speaker_id" name=speaker_id method="GET" action="/">
                    {% for speaker_id in speaker_ids %}
                    <option value="{{speaker_id}}" SELECTED>{{speaker_id}}</option>"
                    {% endfor %}
                </select><br /><br />
                {%endif%}

                <audio id="audio" controls autoplay hidden></audio>
                <p id="listen_status">Listen Connection status will go here</p>
                <p id="message"></p>
                <p id="status">Connection status will go here</p>
                <p id="transcript"></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('scripts', path='/listen_and_respond.js') }}"></script>
    
</body>
</html>